# Веб-интерфейс
gradio==6.20.0

# Нейросети, аудио и глубокое обучение
torch
torchaudio
torchvision
torchcodec
speechbrain==1.1.0
librosa==0.11.0
soundfile==0.14.0
pydub==0.25.1

# Анализ данных и визуализация
numpy
pandas
scipy
scikit-learn
matplotlib
seaborn
HyperPyYAML==1.2.3

# Дополнительные инструменты (если используются в коде)
datasets
onnx
onnxruntime-gpu
python-dotenv